* {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}
/* Set the canvas to cover the whole page and z index to be lower then the rest so it is under. */
#canvas {
  width: 100%;
  z-index: -1;
  position: absolute;
  margin: 0;
  height: 100%;
}

[contentEditable="false"]:empty:not(:focus):before {
  content: attr(data-text);
  font-size: 10rem;
}

.form[contentEditable="false"]:empty:not(:focus):before {
  content: attr(data-text);
  font-size: 3rem;
}

#choices {
  align-items: center;
  margin-top: 1rem;
  font-size: x-large;
}

#page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#output {
  width: 60%;
  text-align: center;
  padding: 7rem 1rem;
  background-color: rgba(165, 221, 218, 0.9);
  color: white;
  margin-bottom: 2rem;
  border-radius: 1rem;
}
#input {
  border-radius: 0.5rem;
  font-size: large;
  width: 70%;
}
#questions {
  width: 60%;
  text-align: center;
  padding: 1rem;
  background-color: rgba(165, 221, 218, 0.9);
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  color: black;
  font-size: xx-large;
}

button {
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  margin: 1rem;
  padding: 1rem;
  color: black;
}
button:hover {
  background-color: rgba(255, 255, 255, 0);
}

#form {
  display: none;
  width: 60%;
  text-align: center;
  padding: 7rem 1rem;
  padding-bottom: 8.35rem;
  padding-top: 8.35rem;
  background-color: rgba(165, 221, 218, 0.9);
  color: white;
  margin-bottom: 2rem;
  border-radius: 1rem;
  font-size: x-large;
}
